# WEB SCRAPING - ASSIGNMENT 4

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\omkar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\omkar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\omkar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\omkar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\omkar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\omkar\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: attrs>=23.2.0 in c:\users\omkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\omkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\omkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\omkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\omkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\omkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\omkar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\omkar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\omkar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\omkar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [8]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(2)

Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)
    for j in range(len(name)):
        Rank.append(j+1)
except NoSuchElementExceptionhElementException:
    Name.append('-')
except StaleElementReferenceException:
    Name.append('-')

    
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('-')
except StaleElementReferenceException:
    Artist.append('-')

try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('-')
except StaleElementReferenceException:
    Upload_date.append('-') 

try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('-')
except StaleElementReferenceException:
    Views.append('-')
    
driver.close()
Data=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Artist':Artist,'Views':Views,'Upload Date':Upload_date})
Data

,Rank,Video Name,Artist,Views,Upload Date
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016"
1,2,"""Despacito""[10]",Luis Fonsi,"2,993,700,000","January 12, 2017"
2,3,"""See You Again""[21]",Wiz Khalifa,"2,894,000,000","April 6, 2015"
3,4,"""Gangnam Style""⁂[31]",Psy,"803,700,000","July 15, 2012"
4,5,"""Baby""*[69]",Justin Bieber,"245,400,000","February 19, 2010"
5,6,"""Bad Romance""[73]",Lady Gaga,"178,400,000","November 24, 2009"
6,7,"""Charlie Bit My Finger""[77]",HDCYT,"128,900,000","May 22, 2007"
7,8,"""Evolution of Dance""[79]",Judson Laipply,"118,900,000","April 6, 2006"
8,9,"""Girlfriend""‡[81][82]",RCA Records,"92,600,000","February 27, 2007"
9,10,"""Evolution of Dance""[79]",Judson Laipply,"78,400,000","April 6, 2006"
10,11,"""Music Is My Hot Hot Sex""‡[87]",CLARUSBARTEL72,"76,600,000","April 9, 2007"
11,12,"""Evolution of Dance""*[79]",Judson Laipply,"10,600,000","April 6, 2006"
12,13,"""Pokémon Theme Music Video""‡[92]",Smosh,"4,300,000","November 28, 2005"
13,14,"""Myspace – The Movie""‡[97][98]",eggtea,"2,700,000","January 31, 2006"
14,15,"""Phony Photo Booth""‡[101]",mugenized,"3,400,000","December 1, 2005"
15,16,"""The Chronic of Narnia Rap""‡[107]",youtubedude,"2,300,000","December 18, 2005"
16,17,"""Ronaldinho: Touch of Gold""‡*[110]",Nikesoccer,"255,000","October 21, 2005"
17,18,"""I/O Brush""‡*[116]",larfus,"247,000","October 5, 2005"

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time

In [39]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')
time.sleep(2)
fixtures=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
try:
    fixtures.click()
    time.sleep(7)
    results=driver.find_element(By.XPATH,"/html/body/section/div/div/div/div/div/div[2]/div[2]/div[1]/div[3]")
    results.click()
    time.sleep(2)
    for n in range(4):
        morebtn=driver.find_element(By.XPATH,"//button[contains(@class,'match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3 morematches')]")
        morebtn.click()
        time.sleep(2)
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

Title = []
Series = []
Place = []
Date = []
Time = []


series=driver.find_elements(By.XPATH,"//h5[contains(@class,'match-tournament-name ng-binding')]")
for i in series:
    try:
        Series.append(i.text)
    except NoSuchElementException:
        Series.append('-')
    

place=driver.find_elements(By.XPATH,"//div[contains(@class,'match-venue ng-scope')]")
for j in place:
    try:
        Place.append(j.text)
    except NoSuchElementException:
        Place.append('-')


date=driver.find_elements(By.XPATH,'//div[contains(@class,"match-dates ng-binding")]')
for k in date:
    try:
        Date.append(k.text)
    except NoSuchElementException:
        Date.append('-')


time=driver.find_elements(By.XPATH,'//div[contains(@class,"match-time no-margin ng-binding")]')
for m in time:
    try:
        Time.append(m.text)
    except NoSuchElementException:
        Time.append('-')
        
driver.close()
Data=pd.DataFrame({'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
Data

,Tournament,Venue,Date,Time
0,Asia Cup Women T20 2024 BCCI,"Rangiri Dambulla International Stadium, Dambulla",23 Jul,19:00 IST
1,Asia Cup Women T20 2024 BCCI,"Rangiri Dambulla International Stadium, Dambulla",21 Jul,14:00 IST
2,Asia Cup Women T20 2024 BCCI,"Rangiri Dambulla International Stadium, Dambulla",19 Jul,19:00 IST
3,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",14 Jul,16:30 IST
4,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",13 Jul,16:30 IST
5,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",10 Jul,16:30 IST
6,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium, Chennai",9 Jul,19:00 IST
7,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",7 Jul,16:30 IST
8,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium, Chennai",7 Jul,19:00 IST
9,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",6 Jul,16:30 IST
10,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium, Chennai",5 Jul,19:00 IST
11,ICC Mens T20 World Cup 2024,"Kensington Oval, Barbados",29 Jun,20:00
12,South Africa Women Tour Of India Test Series 2024,"MA Chidambaram Stadium, Chennai",28 Jun,9:30 IST
13,ICC Mens T20 World Cup 2024,"Providence Stadium, Guyana",27 Jun,20:00
14,ICC Mens T20 World Cup 2024,"Daren Sammy National Cricket Stadium, Gros Isl...",24 Jun,20:00
15,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,13:30 IST
16,ICC Mens T20 World Cup 2024,"Sir Vivian Richards Stadium, Antigua",22 Jun,20:00
17,ICC Mens T20 World Cup 2024,"Kensington Oval, Barbados",20 Jun,20:00
18,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",19 Jun,13:30 IST
19,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST
20,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00
21,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
22,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",12 Jun,20:00
23,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",9 Jun,20:00
24,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",5 Jun,20:00
25,ICC Mens T20 World Cup Warm Up 2024,"Nassau County International Cricket Stadium, N...",1 Jun,20:00 IST
26,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium, Sylhet",9 May,15:30
27,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium, Sylhet",6 May,15:30
28,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium, Sylhet",2 May,15:30
29,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium, Sylhet",30 Apr,15:30

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion)

In [8]:
driver=webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')
time.sleep(2)

Rank =[]
State =[]
GDSP_22_23=[]
GDSP_21_22 =[]
Share =[]
GDP =[]

Economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
try:
    Economy.click()
    India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    India.click()
    time.sleep(2)
    driver.back()
    India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    India.click()
    time.sleep(2)
    GDP=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
    GDPlink=GDP.get_attribute('herf')
    GDPlink.click()
    time.sleep(2)
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

state = driver.find_element(By.XPATH,"//ul[contains(@style,'list-style-type:none;margin-left:20px;')]/li[1]")
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

try:
    rank=driver.find_elements(By.XPATH,"//td[contains(@class,'data1')]")
    for i in rank[:33]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
try:
    state=driver.find_elements(By.XPATH,"//td[contains(@class,'name')]") #33
    for i in state[:33]:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
    
try:
    gdsp_22_23=driver.find_elements(By.XPATH,"//tr[contains(@role,'row')]/td[4]")
    for i in gdsp_22_23[:33]:
        GDSP_22_23.append(i.text)
except NoSuchElementException:
    GDSP_22_23.append('-')
    
try:
    gdsp_21_22=driver.find_elements(By.XPATH,"//tr[contains(@role,'row')]/td[5]")
    for i in gdsp_21_22[:33]:
        GDSP_21_22.append(i.text)
except NoSuchElementException:
    GDSP_21_22.append('-')
    
try:
    share=driver.find_elements(By.XPATH,"//tr[contains(@role,'row')]/td[6]")
    for i in share[:33]:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

try:
    gdp=driver.find_elements(By.XPATH,"//tr[contains(@role,'row')]/td[7]")
    for i in gdp[:33]:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

driver.close()
Data=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 22-23':GDSP_22_23,'GDSP 21-22':GDSP_21_22,'Share 21-22':Share,'GDP ($ Billions)':GDP})
Data

,Rank,State,GDSP 22-23,GDSP 21-22,Share 21-22,GDP ($ Billions)
0,1,Maharashtra,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,014,688","881,336",3.73%,117.660
12,13,Haryana,"984,055","868,905",3.68%,116.001
13,14,Odisha,"753,177","662,886",2.81%,88.497
14,15,Bihar,"751,396","650,302",2.76%,86.817
15,16,Punjab,"676,164","617,192",2.62%,82.397
16,17,Assam,"493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"464,399","410,525",1.74%,54.806
18,19,Jharkhand,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"191,728","172,162",0.73%,22.984
22,23,Goa,"93,672","84,266",0.36%,11.250
23,24,Tripura,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,"54,285","46,096",0.20%,6.154
25,26,Puducherry,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"42,697","38,785",0.16%,5.178
27,28,Sikkim,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,"39,630","34,775",0.15%,4.643
30,31,Nagaland,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.385

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [7]:
driver=webdriver.Chrome()
driver.get('https://github.com/')
time.sleep(2)

trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

Title=[]
Description=[]
Count =[]
Language =[]

try:
    title=driver.find_elements(By.XPATH,'//h2[contains(@class,"h3 lh-condensed")]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('-')
try:
    description=driver.find_elements(By.XPATH,"//p[contains(@class,'col-9 color-fg-muted my-1 pr-4')]")
    for j in description:
        Description.append(j.text)
except NoSuchElementException:
    Description.append('-')
    

try:
    count=driver.find_elements(By.XPATH,"//div[contains(@class,'f6 color-fg-muted mt-2')]/a[2]")
    for k in count:
        Count.append(k.text)
except NoSuchElementException:
    Count.append('-')


try:
    lang=driver.find_elements(By.XPATH,"//div[contains(@class,'f6 color-fg-muted mt-2')]/span[1]/span[2]")
    for n in lang:
        Language.append(n.text)
except NoSuchElementException:
    Language.append('-')

driver.close()
Data=pd.DataFrame({'Repository Title':Title,'Repository Description':Description,'Contributors count':Count,'Language used':Language})
Data

,Repository Title,Repository Description,Contributors count,Language used
0,Stirling-Tools / Stirling-PDF,#1 Locally hosted web application that allows ...,"2,489",Java
1,Netflix / maestro,Maestro: Netflix’s Workflow Orchestrator,39,Java
2,public-apis / public-apis,A collective list of free APIs,"32,792",Python
3,meta-llama / codellama,Inference code for CodeLlama models,"1,810",Python
4,mem0ai / mem0,The memory layer for Personalized AI,"1,622",Python
5,drawdb-io / drawdb,"Free, simple, and intuitive online database de...",898,JavaScript
6,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,"1,349",C
7,stretchr / testify,A toolkit with common assertions and mocks tha...,"1,573",Go
8,meta-llama / llama3,The official Meta Llama 3 GitHub site,"2,564",Python
9,hoppscotch / hoppscotch,Open source API development ecosystem - https:...,"4,288",TypeScript
10,gabime / spdlog,Fast C++ logging library.,"4,392",C++
11,ggerganov / llama.cpp,LLM inference in C/C++,"8,931",C++
12,lz4 / lz4,Extremely Fast Compression algorithm,"1,349",C
13,openstatusHQ / openstatus,🏓 The open-source synthetic monitoring platform 🏓,314,TypeScript
14,qdrant / qdrant,"Qdrant - High-performance, massive-scale Vecto...","1,302",Rust

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board

In [82]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')
time.sleep(2)

Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

name=driver.find_element(By.XPATH,"//h3[contains(@class,'c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet')]")
Song.append(name.text)
try:
    song=driver.find_elements(By.XPATH,"//h3[contains(@class,'c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only')]")
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('-')
    
try:
    artist=driver.find_elements(By.XPATH,"//span[contains(@class,'c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only')]")
    for j in artist:
        Artist.append(j.text)
except NoSuchElementException:
    Artist.append('-')
    

try:
    last_rank=driver.find_elements(By.XPATH,"//li[contains(@class,'o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max')]/span[1]")
    m=0
    for k in last_rank:
        if(m%2)==0:
            m+=1
            Last_Week_rank.append(k.text)
        else:
            m+=1
            Weeks.append(k.text)
except NoSuchElementException:
    Last_Week_rank.append('-')
    Weeks.append('-')

try:
    peak=driver.find_elements(By.XPATH,"//li[contains(@class,'o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max')]/span")
    for l in peak:
        Peak_rank.append(l.text)
except NoSuchElementException:
    Peak_rank.append('-')

driver.close()
Billboard=pd.DataFrame({'Song Name':Song,'Artist Name':Artist,'Last week rank':Last_Week_rank,'Peak':Peak_rank,'Weeks on chart':Weeks})
Billboard

,Song Name,Artist Name,Last week rank,Peak,Weeks on chart
0,A Bar Song (Tipsy),Shaboozey,2,1,14
1,I Had Some Help,Post Malone Featuring Morgan Wallen,3,1,10
2,Not Like Us,Kendrick Lamar,1,1,11
3,Million Dollar Baby,Tommy Richman,4,2,12
4,Espresso,Sabrina Carpenter,5,3,14
...,...,...,...,...,...
95,Bass Boat,Zach Bryan,61,61,2
96,Think I'm In Love With You,Chris Stapleton,87,49,11
97,Beautiful As You,Thomas Rhett,95,83,6
98,Sweet Dreams,Koe Wetzel,88,35,9
99,Sandpaper,Zach Bryan Featuring Bruce Springsteen,71,71,2

6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [20]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(2)

Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('-')
    
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('-')
    
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')

driver.close()    
Data=pd.DataFrame({"Book Name":Book,"Author Name":Author,'Volumes sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Data

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [26]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls512407256/")
time.sleep(2)

Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]


for i in range(100):
    driver.execute_script('window.scrollBy(0, 300)')
    time.sleep(1.5)
    btn=driver.find_elements(By.XPATH,"//button[contains(@class,'ipc-icon-button dli-info-icon ipc-icon-button--base ipc-icon-button--onAccent2')]")
    btn[i].click()
    time.sleep(2)
    length=driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div/div[2]/div/div/div[1]/div[2]/ul[1]/li[2]")
    Run_Time.append(length.text)
    genre=driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div/div[2]/div/div/div[1]/div[2]/ul[2]")
    textt1=genre.text
    result=re.sub(r'([a-z])([A-Z])', r'\1 \2', textt1)
    Genre.append(result)
    closee=driver.find_element(By.XPATH,"//button[contains(@title,'Close Prompt')]")
    closee.click()
    
topclick=driver.find_element(By.XPATH,"/html/body/div[2]/button")
topclick.click()

for n in range(50):
    driver.execute_script('window.scrollBy(0, 500)')
    time.sleep(1.5)

try:
    name=driver.find_elements(By.XPATH,"//h3[contains(@class,'ipc-title__text')]")
    for i in name[:100]:
        textt1=i.text
        result1=textt1.split(' ', 1)
        Name.append(result1[1])
except NoSuchElementException:
    Name.append('-')

try:
    year=driver.find_elements(By.XPATH,"//div[contains(@class,'sc-b189961a-7 feoqjK dli-title-metadata')]/span[1]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('-')
    

try:
    ratings=driver.find_elements(By.XPATH,"//span[contains(@class,'ipc-rating-star--rating')]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')

try:
    votes=driver.find_elements(By.XPATH,"//span[contains(@class,'ipc-rating-star--voteCount')]")
    for i in votes:
        textt=i.text
        result=textt.replace("(", "").replace(")", "")
        Votes.append(result)
except NoSuchElementException:
    Votes.append('-')

driver.close()
Data=pd.DataFrame({"Name":Name[:100],"Year Span":Year_Span[:100],"Genre":Genre[:100],"Run Time":Run_Time[:100],"Ratings":Ratings[:100],"Votes":Votes[:100]})
Data

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,2011–2019,Action Adventure Drama,1h,9.2,2.3M
1,Stranger Things,2016–2025,Drama Fantasy Horror,1h,8.7,1.4M
2,The Walking Dead,2010–2022,Drama Horror Thriller,45min,8.1,1.1M
3,13 Reasons Why,2017–2020,Drama Mystery Thriller,1h,7.5,319K
4,The 100,2014–2020,Drama Mystery Sci-Fi,43min,7.6,280K
...,...,...,...,...,...,...
95,True Detective,2014–,Crime Drama Mystery,1h,8.9,665K
96,Teen Wolf,2011–2017,Action Drama Fantasy,41min,7.7,165K
97,The OA,2016–2019,Drama Fantasy Mystery,1h,7.8,117K
98,The Simpsons,1989–,Animation Comedy,22min,8.7,440K
99,Desperate Housewives,2004–2012,Comedy Drama Mystery,45min,7.6,141K

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year

In [71]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)

dataset=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
dataset.click()
time.sleep(4)
accept=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/div/div[2]/button")
accept.click()
expand=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]")
expand.click()
time.sleep(2)

Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]
for z in range(67):
    try:
        dataset=driver.find_elements(By.XPATH,"//h2[contains(@class,'truncate text-primary')]/a")
        for i in dataset:
            Dataset.append(i.text)
    except NoSuchElementException:
        Dataset.append('-')
    
    try:
        Type=driver.find_elements(By.XPATH,"//div[contains(@class,'my-2 hidden gap-4 md:grid grid-cols-12')]/div[2]/span")
        for j in Type:
            Data_Type.append(j.text)
    except NoSuchElementException:
        Data_Type.append('-')
    
    try:
        task=driver.find_elements(By.XPATH,"//div[contains(@class,'my-2 hidden gap-4 md:grid grid-cols-12')]/div[1]/span")
        for k in task:
            Task.append(k.text)
    except NoSuchElementException:
        Task.append('-')
    
    try:
        attribute_Type=driver.find_elements(By.XPATH,"//tbody[contains(@class,'border')]/tr/td[2]")
        for l in attribute_Type:
            if(l!=None):
                Attribute_Type.append(l.text)
            else:
                Attribute_Type.append('-')
    except NoSuchElementException:
        Attribute_Type.append('-')
    
    try:
        no_of_Instances=driver.find_elements(By.XPATH,"//div[contains(@class,'my-2 hidden gap-4 md:grid grid-cols-12')]/div[3]/span")
        for m in no_of_Instances:
            textt1=m.text
            result1= textt1.split(' ', 1)
            No_of_Instances.append(result1[0])
    except NoSuchElementException:
        No_of_Instances.append('-')

    try:
        no_of_Attribute=driver.find_elements(By.XPATH,"//div[contains(@class,'my-2 hidden gap-4 md:grid grid-cols-12')]/div[4]/span")
        for n in no_of_Attribute:
            text2=n.text
            result2=text2.split(' ', 1)
            No_of_Attribute.append(result2[0])
    except NoSuchElementException:
        No_of_Attribute.append('-')
    
    try:
        year=driver.find_elements(By.XPATH,"//tbody[contains(@class,'border')]/tr/td[3]")
        for b in year:
            if(b!=None):
                text3=b.text
                result3=text3.split("/")
                if(len(result3)==3):
                    Year.append(result3[2])
                else:
                    Year.append('-')
            else:
                Year.append('-')
    except NoSuchElementException:
        Year.append('-')
    if(z<66):
        nextt=driver.find_element(By.XPATH,"//div[contains(@class,'btn-group')]/button[2]")
        nextt.click()
        time.sleep(2)
        expand=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]")
        expand.click()
        expand=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]")
        expand.click()
        time.sleep(2)
    
        
driver.close()
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset[:600],'Data Type':Data_Type[:600],'Task':Task[:600],'Attribute Type':Attribute_Type[:600],'No of Instances':No_of_Instances[:600],'No of Attribute':No_of_Attribute[:600],'Year':Year[:600]})
UCI_Dataset

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,"Categorical, Integer",150,4,-
1,Dry Bean,Multivariate,Classification,Categorical,13.61K,16,1997
2,Heart Disease,Multivariate,Classification,Integer,303,13,2014
3,Rice (Cammeo and Osmancik),Multivariate,Classification,"Integer, Real",3.81K,7,2015
4,Raisin,Multivariate,Classification,"Categorical, Integer, Real",900,8,1995
...,...,...,...,...,...,...,...
595,Meta-data,Multivariate,Classification,Categorical,528,22,2023
596,Vicon Physical Action Data Set,Time-Series,Classification,,3K,,2014
597,Pseudo Periodic Synthetic Time Series,,,,100K,,2023
598,Quality Assessment of Digital Colposcopies,Multivariate,Classification,,287,,2018
599,chipseq,Sequential,Classification,Integer,4.96K,,2019